.logo {
    width:80px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.nameofsite {
    flex-shrink: 1;
}

.pannel-icons {
    width: 2vw;
}

.name-shop-style1 {
    font-family: "Spicy Rice", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: bold;
    color: #333;
    font-size: 24px;
    color: #B22222
}

.name-shop-style2 {
    font-family: "Spicy Rice", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: bold;
    color: #333;
    font-size: 30px;
    color: #778899;
}

.layout_pannel {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-left: 20px;
}

.elem_pannel {
    display: inline-block;
}

.grid-item {
    color: white;
    padding: 20px;
    align-items: center;
    display: flex;
}

.logo_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container_pannel {
    display: flex;
    position: relative;
    overflow: hidden;
}

.body {
    background: #FAEBD7;
}

.header1 {
    margin: 1%;
    background: #ffd5d5;
    border-radius: 20px;
    border: 3px solid #9B2226;
    box-shadow: 5px 3px 3px #782020;
}
